测试用例/Web References/TestAte/tCheckDataTestAte.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EMP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckEmpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="woId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check_Route_ATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DATA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Route" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check_Route_ATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Check_Route_ATEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_ATE_Back">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DATA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Route" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LINE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INS_ATE_BackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INS_ATE_BackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLineList">
        <s:complexType />
      </s:element>
      <s:element name="GetLineListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLineListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWOSnRule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="woId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWOSnRuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWOSnRuleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWipKeyParts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lswipkeypart" type="tns:ArrayOfTWipKeyPartTable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTWipKeyPartTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tWipKeyPartTable" nillable="true" type="tns:tWipKeyPartTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tWipKeyPartTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idx" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="esn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="woId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sntype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="snval" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recdate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertWipKeyPartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertWipKeyPartsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEsnDataInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sntype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="snval" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEsnDataInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEsnDataInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSnInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSnInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSnInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckEmpSoapIn">
    <wsdl:part name="parameters" element="tns:CheckEmp" />
  </wsdl:message>
  <wsdl:message name="CheckEmpSoapOut">
    <wsdl:part name="parameters" element="tns:CheckEmpResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStation" />
  </wsdl:message>
  <wsdl:message name="GetAllStationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStationResponse" />
  </wsdl:message>
  <wsdl:message name="Check_Route_ATESoapIn">
    <wsdl:part name="parameters" element="tns:Check_Route_ATE" />
  </wsdl:message>
  <wsdl:message name="Check_Route_ATESoapOut">
    <wsdl:part name="parameters" element="tns:Check_Route_ATEResponse" />
  </wsdl:message>
  <wsdl:message name="INS_ATE_BackSoapIn">
    <wsdl:part name="parameters" element="tns:INS_ATE_Back" />
  </wsdl:message>
  <wsdl:message name="INS_ATE_BackSoapOut">
    <wsdl:part name="parameters" element="tns:INS_ATE_BackResponse" />
  </wsdl:message>
  <wsdl:message name="GetLineListSoapIn">
    <wsdl:part name="parameters" element="tns:GetLineList" />
  </wsdl:message>
  <wsdl:message name="GetLineListSoapOut">
    <wsdl:part name="parameters" element="tns:GetLineListResponse" />
  </wsdl:message>
  <wsdl:message name="GetWOSnRuleSoapIn">
    <wsdl:part name="parameters" element="tns:GetWOSnRule" />
  </wsdl:message>
  <wsdl:message name="GetWOSnRuleSoapOut">
    <wsdl:part name="parameters" element="tns:GetWOSnRuleResponse" />
  </wsdl:message>
  <wsdl:message name="InsertWipKeyPartsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertWipKeyParts" />
  </wsdl:message>
  <wsdl:message name="InsertWipKeyPartsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertWipKeyPartsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEsnDataInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEsnDataInfo" />
  </wsdl:message>
  <wsdl:message name="GetEsnDataInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEsnDataInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSnInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSnInfo" />
  </wsdl:message>
  <wsdl:message name="GetSnInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSnInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="tCheckDataTestAteSoap">
    <wsdl:operation name="CheckEmp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">确认权限,返回一个string类型</wsdl:documentation>
      <wsdl:input message="tns:CheckEmpSoapIn" />
      <wsdl:output message="tns:CheckEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">传入一个工单,返回该工单的所有途程Dataset</wsdl:documentation>
      <wsdl:input message="tns:GetAllStationSoapIn" />
      <wsdl:output message="tns:GetAllStationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Check_Route_ATE">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">传入输入参数 DATA(唯一条码ESN),途程 Route,工单 WO,返回一个string类型的参数 </wsdl:documentation>
      <wsdl:input message="tns:Check_Route_ATESoapIn" />
      <wsdl:output message="tns:Check_Route_ATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INS_ATE_Back">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">传入输入参数 DATA(25位唯一条码ESN,8位的不良代码,20位的机器代码,位数不足以空格补足),途程 Route,人员权限 EMP,线别 LINE,返回一个string类型的参数 </wsdl:documentation>
      <wsdl:input message="tns:INS_ATE_BackSoapIn" />
      <wsdl:output message="tns:INS_ATE_BackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLineList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回所有线体,DataSet</wsdl:documentation>
      <wsdl:input message="tns:GetLineListSoapIn" />
      <wsdl:output message="tns:GetLineListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWOSnRule">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">MAC等区间信息,Dataset</wsdl:documentation>
      <wsdl:input message="tns:GetWOSnRuleSoapIn" />
      <wsdl:output message="tns:GetWOSnRuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertWipKeyParts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">插入wipkeypart数据,产品序列号绑定</wsdl:documentation>
      <wsdl:input message="tns:InsertWipKeyPartsSoapIn" />
      <wsdl:output message="tns:InsertWipKeyPartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEsnDataInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据esn获取数据,输入的可以是除密码外类型任何序号类型</wsdl:documentation>
      <wsdl:input message="tns:GetEsnDataInfoSoapIn" />
      <wsdl:output message="tns:GetEsnDataInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSnInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定的序列号是否存在</wsdl:documentation>
      <wsdl:input message="tns:GetSnInfoSoapIn" />
      <wsdl:output message="tns:GetSnInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tCheckDataTestAteSoap" type="tns:tCheckDataTestAteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckEmp">
      <soap:operation soapAction="http://tempuri.org/CheckEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStation">
      <soap:operation soapAction="http://tempuri.org/GetAllStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_Route_ATE">
      <soap:operation soapAction="http://tempuri.org/Check_Route_ATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_ATE_Back">
      <soap:operation soapAction="http://tempuri.org/INS_ATE_Back" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLineList">
      <soap:operation soapAction="http://tempuri.org/GetLineList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWOSnRule">
      <soap:operation soapAction="http://tempuri.org/GetWOSnRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWipKeyParts">
      <soap:operation soapAction="http://tempuri.org/InsertWipKeyParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEsnDataInfo">
      <soap:operation soapAction="http://tempuri.org/GetEsnDataInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSnInfo">
      <soap:operation soapAction="http://tempuri.org/GetSnInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tCheckDataTestAteSoap12" type="tns:tCheckDataTestAteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckEmp">
      <soap12:operation soapAction="http://tempuri.org/CheckEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStation">
      <soap12:operation soapAction="http://tempuri.org/GetAllStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_Route_ATE">
      <soap12:operation soapAction="http://tempuri.org/Check_Route_ATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_ATE_Back">
      <soap12:operation soapAction="http://tempuri.org/INS_ATE_Back" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLineList">
      <soap12:operation soapAction="http://tempuri.org/GetLineList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWOSnRule">
      <soap12:operation soapAction="http://tempuri.org/GetWOSnRule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWipKeyParts">
      <soap12:operation soapAction="http://tempuri.org/InsertWipKeyParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEsnDataInfo">
      <soap12:operation soapAction="http://tempuri.org/GetEsnDataInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSnInfo">
      <soap12:operation soapAction="http://tempuri.org/GetSnInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tCheckDataTestAte">
    <wsdl:port name="tCheckDataTestAteSoap" binding="tns:tCheckDataTestAteSoap">
      <soap:address location="http://172.16.173.76/SFIS_TEST/tCheckDataTestAte.asmx" />
    </wsdl:port>
    <wsdl:port name="tCheckDataTestAteSoap12" binding="tns:tCheckDataTestAteSoap12">
      <soap12:address location="http://172.16.173.76/SFIS_TEST/tCheckDataTestAte.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>